<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjs.tjsmanager.mapper.SalesConsumerMapper">

	<!-- 전체 성별 판매량 -->
	<select id="allGroupByConsumerGender" resultType="map">
		SELECT
		CONSUMER_GENDER AS consumerGender, IFNULL( count(*), 0 ) AS count
		from
		sales_consumer
		GROUP BY CONSUMER_GENDER;
	</select>


	<!-- 전체 나이대별 판매량 -->
	<select id="allGroupByConsumerAge" resultType="map">
		SELECT
		CONSUMER_AGE AS consumerAge, count(*) AS count
		from sales_consumer
		GROUP BY CONSUMER_AGE;
	</select>


	<!-- 전체 시간대별 판매량 -->
	<select id="allGroupBySalesTime" resultType="map">
		SELECT hour(SALES_DATE) AS hour, count(*) AS count
		FROM sales_consumer
		GROUP BY hour(SALES_DATE);
	</select>
</mapper>